.savannah-background-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: no-repeat center url(original.png);
    background-size: cover;
}