* {
	margin: 0;
    padding: 0;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ddfaff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
    cursor: pointer;
} 

.wrapper {
    padding: 30px 28%;
}

.category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em; 
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1d2a57;
    letter-spacing: 4px;
    word-spacing: 5px;
    padding: 70px 0 50px 0;
}

.select-category {
    text-align: center;
    font-size: 14px;
    color: #1d2a57;
    margin-bottom: 50px;
}

.category a {
    text-align: center;
    font-size: 14px;
    color: #1d2a57;
    padding: 10px 0;
    text-transform: uppercase;
    border: 2px solid green;
    border-radius: 5px;
}

.dictionaryPage {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(1, 100px);
    grid-column-gap: 1em;
    grid-row-gap: 0em; 
    border: 1px solid darkgreen;
}

.dictionaryPage div {
    display: flex;
    font-size: 14px;
    color: #1d2a57;
    padding: 40px 50px;
    border: 1px solid green;
}

.dictionaryPage span {
    width: 30%;
}

.dictionaryPage button {
    width: 100px;
    height: 30px;
    color: #ddfaff;
    text-align: center;
    background-color: #1d2a57;
    border: 1px solid darkgreen;
    border-radius: 5px;
    cursor: pointer;
}

.more {
    color: #ddfaff;
    text-align: center;
    cursor: pointer;
    padding: 0 20.6px;
}

.show {
    width: 150px;
    height: 50px;
    color: #ddfaff;
    text-align: center;
    background-color: #1d2a57;
    border: 1px solid darkgreen;
    border-radius: 5px;
    cursor: pointer;
    margin: 5% 38%;
}

.page {
    color: #1d2a57;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding: 30px 20%;
    }
    .show {
        margin-left: 36%;
    }
    .dictionaryPage span {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 30px 15%;
    }
    .show {
        margin-left: 37%;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        padding: 30px 10%;
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        padding: 30px 8% 30px 5%;
    }
    .show {
        margin-left: 35%;
    }
    .dictionaryPage div {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 30px 5% 30px 3%;
    }
    .category {
        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em; 
    }
    .dictionaryPage span {
        width: 40%;
    }
    .dictionaryPage div {
        padding: 40px 25px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 30px 0.1%;
    }
    .show {
        margin-left: 33%;
    }
    .category {
        grid-column-gap: 1em;
        grid-row-gap: 1em; 
    }
    .transcription {
        display: none;
    }
    .dictionaryPage button {
        margin-left: 20px;
    }
    .dictionaryPage div {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 400px) {
    .show {
        margin-left: 30%;
    }
    .category {
        grid-column-gap: 0.8em;
        grid-row-gap: 0.8em; 
    }
    .dictionaryPage span {
        width: 30%;
    }
    .dictionaryPage button {
        width: 70px;
        margin-left: 30px;
    }
    .dictionaryPage div {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 320px) {
    .show {
        margin-left: 25%;
    }
    .category {
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em; 
    }
}
