$color-train: #90add3;
$mobile-big-width: 414px;

.img {
  width: 390px;
  max-width: 100%;
  height: 260px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(118,118,118,.25);
  border: 10px solid rgba(55,97,151,0.2);
}

.input, .translation {
  margin: 0;
  margin-bottom: 14px;
  padding: 5px 20px;
  color: #2b2b2b;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 0 2px 3px #0009;
  background-color: #e3e2e498;
  transition: 0.3s ease-in;
  opacity: 1;
}

.translation {
  font-weight: bold;
}

.input {
  display: block;
  color: rgba(14, 30, 37, .7);
  background-image: url(../../../../assets/microphone.svg);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 10px center;
  animation: pulse 1s infinite;
  @media (max-width: $mobile-big-width) {
    width: 95%;
  }
}

.none {
  background-image: radial-gradient();
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

@keyframes pulse{
  0% {
    background-color: #e3e2e498;
  }
  25% {
    background-color: #e0e0f3a9;
  }
  75% {
    background-color: #fefeffa9;
  }
  100% {
    background-color: #e3e2e498;
  }
}