@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.game--control-wrapper {
  margin-top: 25px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #fff;
  min-height: 20px;
  width: calc(100% - 60px);
  box-sizing: border-box;
  @media screen and (max-width: 400px) {
    width: calc(100% - 30px);
    flex-direction: column;
    align-content: center;
  }
}

.control--raunds {
  display: flex;
  padding: 5px 0;
  background: linear-gradient(#d8b9fc, #757475);
  border: 1px solid rgba(33, 43, 52, 1);
  border-radius: 5px;
  box-shadow: inset 0 1px #93729e, inset 0 0 1px #a07cacc0, 0 1px #9d5bb3, 0 0 1px #4e3955;
  @media screen and (max-width: 400px) {
    margin-bottom: 10px;
  }
  & > div {
    margin: 0 10px;
  }
}

.control--buttons {
  display: flex;
  @media screen and (max-width: 400px) {
    margin-bottom: 10px;
  }
  button {
    position: relative;
    background: #4e1f83 linear-gradient(#9d2bc3, #4a1885);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border: none;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 4px;
    border: 1px solid rgba(33, 43, 52, 1);
    border-radius: 3px;
    box-shadow: inset 0 1px #93729e, inset 0 0 1px #a07cacc0, 0 1px #9d5bb3, 0 0 1px #4e3955;
    transition: 0.3s ease-in;
    &.disabled {
      background: linear-gradient(#757475, #d8b9fc);
      box-shadow: none;
      &:hover {
        background: linear-gradient(#757475, #d8b9fc);
      }
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background: #3a2895 linear-gradient(#ad6bc3, #3a2895);
      .tooltiptext {
        visibility: visible;
      }
      i.material-icons {
        cursor: pointer;
        animation: swing 3s infinite;
        background-color: #0001;
        box-shadow: none;
      }
    }
  }
}

@keyframes swing {
  0% {
    opacity: 1;
    color: #fff;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    color: #fff;
    transform: rotate(-5deg);
  }
  75% {
    opacity: 1;
    color: #fff;
    transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    color: #fff;
    transform: rotate(0deg);
  }
}

.control--hints {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60px;
  width: 100%;
  .audio-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    position: relative;
    i.material-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      font-size: 28px;
    }
    .tooltiptext {
      width: 140px;
      top: -50%;
      left: 115%;
      margin-left: auto;
      transition: 0.3s 1s ease-in-out;
      &::after {
        bottom: auto;
        left: auto;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-color: transparent #7c42a3 transparent transparent;
      }
    }
    &:hover {
      text-shadow: 0 0 10px#3a2895;
      .tooltiptext {
        visibility: visible;
      }
      i.material-icons {
        background-color: #0001;
        cursor: pointer;
        box-shadow: none;
        animation: swing 3s infinite;
      }
    }
  }
  .translation-hint {
    p {
      margin: 0 0 4px;
      color: #fff;
      text-shadow: 0 0 5px #3c0253;
    }
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }
}
