.results {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 800px;
  max-height: 80vh;
  background-color: #edf;
  border-radius: 5px;
  &-painting {
    display: flex;
    align-items: center;
    flex-direction: column;
    &--img {
      margin-bottom: 10px;
      width: 140px;
      border-radius: 5px;
    }
  }
  &-sentences {
    overflow-y: auto;
  }
  &-dontknow,
  &-youknow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 5px;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    &--count {
      display: flex;
      align-items: center;
      margin: 5px 0 5px 20px;
      font-weight: 700;
      .errors-num,
      .succes-num {
        background-color: #da5b4c;
        color: #fff;
        padding: 2px 14px;
        border-radius: 21px;
        margin-left: 5px;
        font-size: 18px;
      }
      .succes-num {
        background-color: #01af61;
      }
    }
    .result-item {
      display: flex;
      margin: 4px;
      padding: 1px 5px;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s ease-in;
      &--sentence {
        margin: 0;
      }
      &:hover {
        background-color: #fdf;
      }
      .material-icons {
        color: #003;
      }
    }
  }
}
