* {
  margin: 0;
  padding: 0;
}

.learning-card-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 5px;
}

.learning-word-cards {
  display: flex;
  width: 700px;
  height: 420px;
  margin: 30px auto;
}

.word-error {
  color: red;
}

.word-correct {
  color: green;
}

.learning-card-prev {
  height: 420px;
  width: 50px;
}

.prev {
  margin: 185px 13px;
  cursor: pointer;
}

.learning-card {
  width: 600px;
  height: 420px;
  background-color: #4b909b;
  border-radius: 0.5rem;
}

.learning-card-next {
  height: 420px;
  width: 50px;
}

.next {
  margin: 185px 10px;
  cursor: pointer;
}

.learning-card-header {
  display: flex;
  height: 50px;
  margin: 1rem;
  justify-content: space-between;
}

.current-word {
  padding: 0;
  align-items: center;
  background: transparent;
  border-radius: 0.5rem;
  display: flex;
}

.current-success {
  display: flex;
  justify-content: space-around;
}

.page-and-category {
  display: flex;
  justify-content: space-around;
}

.learning-word-description {
  color: white;
  margin: 0 1rem;
}

.select-learning-page {
  color: white;
  margin: 10px 0.5rem;
}

.select-learning-category {
  color: white;
  margin: 10px 0.5rem;
}

.dropdown-notes {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.word-notes span {
  font-size: 30px;
  cursor: pointer;
  margin: 4px 8px 0 0;
}

.word-notes span:hover {
  color: white;
}

.dropdown {
  padding-right: 35px;
}

.dropdown div {
  color: white;
  cursor: pointer;
  font-size: small;
}

.dropdown div:hover {
  text-decoration: underline;
}

.learning-card-main {
  height: 338px;
}

.learning-word-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.learning-word-translation {
  font-size: 30px;
  padding-bottom: 10px;
}

.learning-word-transcription {
  padding-bottom: 10px;
}

.learning-word-input {
  align-items: center;
}

.learning-check-input {
  display: flex;
}

.check-input {
  margin: 12px 15px;
}

.word-answer-input {
  height: 50px;
  font-size: 20px;
  padding: 0 0.5em;
}

.learning-word-image {
  width: 200px;
  height: 135px;
  position: relative;
}

.learning-word-examples {
  height: 203px;
  padding: 1.5rem 1rem 1rem 1rem;
}

.learning-word-examples div {
  font-size: 14px;
  padding: 4px 0;
}

.learning-word-meaning,
.learning-word-example {
  display: flex;
  flex-direction: row;
}

.meaning-sentence:hover,
.example-sentence:hover {
  cursor: pointer;
}

.button-reactions {
  display: flex;
  justify-content: center;
}

.learning-word-button-check {
  width: 130px;
  height: 40px;
  color: white;
  text-align: center;
  background-color: #4b909b;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  margin: 0 10px;
}

.learning-word-button-show {
  width: 135px;
  height: 40px;
  color: white;
  text-align: center;
  background-color: #4b909b;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  margin: 0 10px;
}

.spell {
  margin-left: 10px;
  cursor: pointer;
}

.spell:hover {
  color: white;
}

.prev:hover {
  color: white;
  cursor: pointer;
}

.next:hover {
  color: white;
  cursor: pointer;
}

.learning-word-notification {
  width: 100%;
  height: 20px;
  text-align: center;
  border-color: #4b909b;
  border-radius: 0.2rem;
  margin: 0 auto;
  padding: 1rem;
}

.learning-word-stage {
  display: flex;
  margin: 20px 29%;
}

.number-start {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: #338c99;
  padding: 0 0.5rem;
  width: 1.5rem;
  text-align: end;
  line-height: 0.8;
}

.number-progress {
  width: calc(100% - 1rem);
  height: 0.5rem;
  background: #b1d6db;
  border-radius: 0.312rem;
  margin-bottom: 30px;
}

.number-end {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: #338c99;
  padding: 0 0.5rem;
  width: 1.5rem;
  text-align: end;
  line-height: 0.8;
}

@media screen and (max-width: 800px) {
  .learning-word-cards {
    width: 644px;
    height: 480px;
    margin-left: 5%;
  }
  .learning-card-wrapper {
    height: 695px;
  }
  .learning-card-prev {
    height: 480px;
  }
  .prev {
    margin: 225px 13px;
  }
  .learning-card-next {
    height: 480px;
  }
  .next {
    margin: 225px 13px;
  }
  .learning-card-header {
    height: 80px;
  }
  .learning-word-description {
    width: 55px;
    margin: 0 .5rem;
  }
  .dropdown-notes {
    height: 80px;
    padding-top: 15px;
  }
  .dropdown {
    width: 195px;
    padding: 0 10px;
  }
  .learning-card-main {
    height: 368px;
  }
  .learning-word-examples {
    height: 233px;
  }
  .learning-card {
    width: 550px;
    height: 480px;
  }
}

@media screen and (max-width: 750px) {
  .learning-card-wrapper {
    height: 695px;
  }
  .learning-word-cards {
    width: 640px;
    height: 480px;
    margin: 30px 2%;
  }
}

@media screen and (max-width: 725px) {
  .learning-word-cards {
    width: 635px;
    height: 480px;
    margin: 30px 1%;
  }
}

@media screen and (max-width: 700px) {
  .learning-word-cards {
    width: 420px;
    height: 750px;
    margin-left: 16%;
  }
  .learning-card-header {
    display: contents;
    height: 100px;
  }
  .learning-card {
    width: 400px;
    height: 750px;
  }
  .learning-card-prev {
    height: 750px;
  }
  .prev {
    margin: 300px 13px;
  }
  .learning-card-next {
    height: 750px;
  }
  .next {
    margin: 300px 13px;
  }
  .current-word {
    width: 100%;
    justify-content: space-between;
    padding: 5px 20px;
  }
  .dropdown-notes {
    height: 65px;
    padding: 5px 20px;
  }
  .learning-card-wrapper {
    height: 965px;
  }
  .learning-card-main {
    height: 597px;
  }
  .learning-word-wrapper {
    height: 1100px;
    display: contents;
    padding: 0 50px;
  }
  .learning-word-info {
    padding: 10px 20px;
  }
  .learning-word-image {
    width: 250px;
    height: 180px;
    padding: 10px 20px;
  }
  .learning-word-examples {
    padding: 10px 20px;
  }
  .prev {
    margin: 270px 10px;
  }
  .next {
    margin: 270px 10px;
  }
}

@media screen and (max-width: 650px) {
  .learning-word-cards {
    margin: 30px 13%;
  }
}

@media screen and (max-width: 550px) {
  .learning-word-cards {
    margin: 30px 10%;
  }
}

@media screen and (max-width: 500px) {
  .learning-word-cards {
    margin: 30px 6%;
  }
}

@media screen and (max-width: 475px) {
  .learning-word-cards {
    margin: 30px 4%;
  }
}

@media screen and (max-width: 450px) {
  .learning-word-cards {
    margin: 30px 2%;
  }
  .prev {
    margin: 270px 5px;
  }
  .next {
    margin: 270px 5px;
  }
}

@media screen and (max-width: 400px) {
  .learning-word-cards {
    margin: 30px 0;
  }
}

@media screen and (max-width: 350px) {
  .learning-word-cards {
    margin: 15px 0;
  }
}

@media screen and (max-width: 320px) {
  .learning-word-cards {
    width: 237px;
    height: 830px;
  }
  .current-word {
    display: contents;
  }
  .current-success {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }
  .page-and-category {
    display: flex;
    justify-content: space-around;
  }
  .select-learning-page {
    margin: 5px 0.5rem;
  }
  .select-learning-category {
    margin: 5px 0.5rem;
  }
  .dropdown-notes {
    height: 75px;
    justify-content: space-around;
    padding: 10px 15px;
  }
  .learning-word-description {
    width: 90px;
    margin: 0;
  }
  .learning-card {
    width: 237px;
    height: 830px;
  }
  .learning-word-image {
    width: 230px;
    height: 160px;
  }
  .learning-card-main {
    height: 659px;
  }
  .learning-word-examples {
    height: 344px;
  }
  .learning-card-prev {
    width: 35px;
    height: 830px;
  }
  .learning-card-next {
    width: 35px;
    height: 830px;
  }
  .prev {
    margin: 280px 5px;
  }
  .next {
    margin: 280px 5px;
  }
  .learning-word-button-show {
    width: 110px;
    margin: 0 5px;
  }
  .learning-word-button-check {
    width: 110px;
    margin: 0 5px;
  }
}
