* {
  margin: 0;
  padding: 0;
}

.learning-card-wrapper {
  width: 100%;
  height: 100%;
  background: #ddfaff;
  margin: 0 auto;
  padding-top: 5px;
}

.learning-word-cards {
  display: flex;
  width: 700px;
  height: 400px;
  margin: 50px auto 10px auto;
}

.word-error {
  color: red;
}

.word-correct {
  color: green;
}

.learning-card-prev {
  width: 50px;
}

.prev {
  margin: 185px 13px;
  cursor: pointer;
}

.learning-card {
  width: 600px;
  height: 420px;
  background-color: #4b909b;
  border-radius: 0.5rem;
}

.learning-card-next {
  width: 50px;
}

.next {
  margin: 185px 10px;
  cursor: pointer;
}

.learning-card-header {
  display: flex;
  height: 50px;
  margin: 1rem;
  justify-content: space-between;
}

.current-word {
  padding: 0;
  align-items: center;
  background: transparent;
  border-radius: 0.5rem;
  display: flex;
}

.learning-word-description {
  color: white;
  margin: 0 1rem;
}

.select-learning-page {
  color: white;
  margin: 10px 0.5rem;
}

.select-learning-category {
  color: white;
  margin: 10px 0.5rem;
}

.dropdown-notes {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.word-notes span {
  font-size: 30px;
  cursor: pointer;
  margin: 4px 8px 0 0;
}

.word-notes span:hover {
  color: white;
}

.dropdown div {
  color: white;
  cursor: pointer;
  font-size: small;
}

.dropdown div:hover {
  text-decoration: underline;
}

.learning-card-main {
  height: 230px;
}

.learning-word-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.learning-word-translation {
  font-size: 30px;
  padding-bottom: 10px;
}

.learning-word-transcription {
  padding-bottom: 10px;
}

.learning-word-input {
  align-items: center;
}

.learning-check-input {
  display: flex;
}

.check-input {
  margin: 12px 15px;
}

.word-answer-input {
  height: 50px;
  font-size: 20px;
  padding: 0 0.5em;
}

.learning-word-image {
  width: 200px;
  height: 135px;
  position: relative;
}

.learning-word-examples {
  padding: 1.5rem 1rem 1rem 1rem;
}

.learning-word-examples div {
  font-size: 14px;
  padding: 4px 0;
}

.learning-word-meaning,
.learning-word-example {
  display: flex;
  flex-direction: row;
}

.meaning-sentence:hover,
.example-sentence:hover {
  cursor: pointer;
}

.button-reactions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.learning-word-button-check {
  width: 130px;
  height: 40px;
  color: white;
  text-align: center;
  background-color: #4b909b;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  margin: 0 10px;
}

.learning-word-button-show {
  width: 135px;
  height: 40px;
  color: white;
  text-align: center;
  background-color: #4b909b;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  margin: 0 10px;
}

.spell {
  margin-left: 10px;
  cursor: pointer;
}

.spell:hover {
  color: white;
}

.prev:hover {
  color: white;
  cursor: pointer;
}

.next:hover {
  color: white;
  cursor: pointer;
}

.learning-word-notification {
  width: 568px;
  height: 20px;
  text-align: center;
  border-color: #4b909b;
  border-radius: 0.2rem;
  margin: 0 auto;
  padding: 1rem;
}

.learning-word-stage {
  display: flex;
  margin: 20px 29%;
}

.number-start {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: #338c99;
  padding: 0 0.5rem;
  width: 1.5rem;
  text-align: end;
  line-height: 0.8;
}

.number-progress {
  width: calc(100% - 1rem);
  height: 0.5rem;
  background: #b1d6db;
  border-radius: 0.312rem;
  margin-bottom: 50px;
}

.number-end {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: #338c99;
  padding: 0 0.5rem;
  width: 1.5rem;
  text-align: end;
  line-height: 0.8;
}

@media screen and (max-width: 800px) {
  .learning-word-cards {
    margin: 50px auto 10px 80px;
  }
  .learning-card-wrapper {
    height: 780px;
  }
  .learning-card-header {
    height: 80px;
  }
  .dropdown {
    width: 195px;
  }
  .learning-card {
    width: 550px;
    height: 480px;
  }
  .button-reactions {
    margin-top: 120px;
  }
}

@media screen and (max-width: 775px) {
  .learning-word-cards {
    width: 650px;
    margin: 50px auto 10px 70px;
  }
}

@media screen and (max-width: 750px) {
  .learning-word-cards {
    width: 600px;
    margin: 50px auto 10px 65px;
  }
}

@media screen and (max-width: 725px) {
  .learning-word-cards {
    width: 550px;
    margin: 50px auto 10px 60px;
  }
}

@media screen and (max-width: 700px) {
  .learning-word-cards {
    width: 450px;
    margin: 50px auto 10px 55px;
  }
}

@media screen and (max-width: 670px) {
  .learning-word-cards {
    width: 400px;
    margin: 50px auto 10px 120px;
  }
  .learning-card-header {
    display: contents;
    height: 100px;
    padding: 20px;
  }
  .learning-card {
    width: 400px;
    height: 780px;
  }
  .current-word {
    width: 100%;
    justify-content: space-between;
    padding: 20px;
  }
  .dropdown-notes {
    padding: 20px;
  }
  .learning-card-wrapper {
    height: 1067px;
  }
  .learning-word-wrapper {
    height: 1100px;
    display: contents;
    padding: 0 50px;
  }
  .learning-word-info {
    padding: 20px;
  }
  .learning-word-image {
    width: 250px;
    height: 180px;
    padding: 20px;
  }
  .prev {
    margin: 270px 10px;
  }
  .next {
    margin: 270px 10px;
  }
  .button-reactions {
    margin-top: 440px;
  }
}

@media screen and (max-width: 650px) {
  .learning-word-cards {
    width: 400px;
    margin: 50px auto 10px 100px;
  }
}

@media screen and (max-width: 600px) {
  .learning-word-cards {
    width: 300px;
    margin: 50px auto 10px 90px;
  }
}

@media screen and (max-width: 575px) {
  .learning-word-cards {
    width: 200px;
    margin: 50px auto 10px 80px;
  }
  .learning-word-notification {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .learning-word-cards {
    width: 250px;
    margin: 50px auto 10px 70px;
  }
}

@media screen and (max-width: 525px) {
  .learning-word-cards {
    margin: 50px auto 10px 60px;
  }
}

@media screen and (max-width: 500px) {
  .learning-word-cards {
    width: 200px;
    margin: 50px auto 10px 50px;
  }
  .button-reactions {
    margin-left: 40px;
  }
}

@media screen and (max-width: 450px) {
  .learning-word-cards {
    margin: 50px auto 10px 40px;
  }
}

@media screen and (max-width: 400px) {
  .learning-word-cards {
    width: 150px;
    margin: 50px auto 10px 30px;
  }
}
