$desktop-large-width: 1200px;
$desktop-width: 992px;
$tablet-width: 768px;
$mobile-width: 576px;

@mixin media-desktop-large {
  @media (min-width: $desktop-large-width) { @content; }
}
@mixin media-desktop {
  @media (min-width: $desktop-width) { @content; }
}
@mixin media-tablet {
  @media (min-width: $tablet-width) { @content; }
}
@mixin media-mobile {
  @media (min-width: $mobile-width) { @content; }
}

@mixin container ($max-width, $column-count, $margin: 90px auto) {
  max-width:$max-width;
  column-count: $column-count;
  margin: $margin;
}

.card-container {
  margin: 50px;
  column-count: 1;
  column-gap: 1.5rem;


  @include media-mobile {
    @include container (540px, 2);
  }
  @include media-tablet {
    @include container (720px, 2);
  }
  @include media-desktop {
    @include container (970px, 3);
  }
  @include media-desktop-large {
    @include container (1140px, 3);
  }
}
