$color-nav-text: #fff899;
$color-train: #90add3;
$color-train-2: #e274fd;
$color-background: #ccddff;

$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

* {
  box-sizing: border-box;
}

.status-bar {
  position: relative;
  font-size: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px auto 20px;
  .score {
    display: flex;
    justify-content: flex-end;
    width: auto;
    overflow: hidden;
    height: 40px;
    .star {
      width: 38px;
      height: 38px;
      background-image: url(../../../../assets/star.svg);
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: $tablet-width) {
        width: 35px;
        height: 35px;
      }
      @media (max-width: $mobile-big-width) {
        width: 30px;
        height: 30px;
      }
    }
  }
  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: $mobile-big-width) {
    justify-content: center;
    margin: 20px auto;
    .score {
      width: 90%;
    }
  }
}
.points {
  list-style: none;
  display: flex;
  padding: 15px 0 0 15px;
  margin: 0;
  .point {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1em;
    color: $color-nav-text;
    text-shadow: 1px 1px 3px $color-train-2;
    width: 18px;
    height: 18px;
    padding: 18px;
    margin-top: -15px;
    border-radius: 50%;
    background-color: $color-train;
    background: radial-gradient($color-train 0%, $color-train 46%, $color-train-2 51% , transparent 59%, transparent 100%);
    margin-right: 17px;
    box-shadow: 0 0 0 2px rgba($color-background, 0.4);
    cursor: pointer;
    transition: .5s;
    &:nth-child(n+2):before {
      content: "";
      width: 35px;
      height: 4px;
      position: absolute;
      top: 16px;
      left: -28px;
      background-color: $color-train;
    }
    &-active, &:hover {
      box-shadow: 0 0 3px 2px $color-train, inset 0 0 0 2px $color-background, inset 0 0 1px 3px $color-train-2;
    }
  }
  

  @media (max-width: $tablet-width) {
    .point {
      width: 16px;
      height: 16px;
      padding: 16px;
      font-size: 1.6em;
      margin-right: 15px;
      &:nth-child(n+2):before {
        content: "";
        width: 27px;
        height: 3px;
        position: absolute;
        top: 15px;
        left: -21px;
        background-color: $color-train;
      }
    }
  }

  @media (max-width: $mobile-big-width) {
    padding: 15px 0px 0px 10px;
    .point {
      width: 14px;
      height: 14px;
      padding: 14px;
      font-size: 1.4em;
      margin-right: 15px;
      &:nth-child(n+2):before {
        content: "";
        width: 26px;
        height: 3px;
        position: absolute;
        top: 13px;
        left: -20px;
        background-color: $color-train;
      }
    }
  }
}