.game--puzzle-wrapper {
  .result {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    height: 410px;
    max-width: 760px;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
    @media screen and (max-width: 880px) {
      max-width: 675px;
      height: 360px;
    }
    @media screen and (max-width: 780px) {
      max-width: 575px;
      height: 308px;
    }
    @media screen and (max-width: 650px) {
      max-width: 475px;
      height: 260px;
    }
    &-field--background {
      position: absolute;
      opacity: 0.4;
      height: 100%;
      width: calc(100% - 33px);
      top: -4px;
      left: 36px;
      box-shadow: inset 0px 0px 4px 1px rgba(64, 64, 112, 1);
      pointer-events: none;
      background-size: calc(100% - 8px) calc(100% - 10px);
      background-position: center center;
      background-repeat: no-repeat;
      @media screen and (max-width: 780px) {
        top: -5px;
        width: calc(100% - 24px);
        left: 27px;
      }
      @media screen and (max-width: 650px) {
        width: calc(100% - 20px);
        left: 25px;
      }
    }
    &--sentence {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      height: 40px;
      opacity: 1;
      transition: opacity 0.6s ease-in;
      &-text_container {
        margin-left: 3px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 6;
        height: 100%;
        &.current-sentence {
          justify-content: flex-start;
          box-shadow: inset 0 0 5px #559, 0 0 2px #fff5;
          border-radius: 2px;
          &.filled {
            justify-content: space-between;
            .canvas-item:not(:first-child) {
              margin-left: -7px;
            }
          }
          .canvas-item:not(:first-child) {
            margin-left: -5px;
          }
        }
        .canvas-item:not(:first-child) {
          margin-left: -7px;
        }
      }
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
      @media screen and (max-width: 880px) {
        height: 35px;
        &-text_container {
          display: flex;
          height: 35px;
          .canvas-item:not(:first-child) {
            margin-left: -5.5px;
          }
        }
      }
      @media screen and (max-width: 780px) {
        height: 30px;
        &-text_container {
          height: 35px;
          .canvas-item:not(:first-child) {
            margin-left: -4.5px;
          }
        }
      }
      @media screen and (max-width: 650px) {
        height: 25px;
        &-text_container {
          height: 25px;
        }
      }
      &-numeration {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 10px 5px 0;
        height: 30px;
        width: 30px;
        background-color: rgba(64, 64, 112, 1);
        border: solid 1px #fff;
        border-radius: 50%;
        user-select: none;
        @media screen and (max-width: 780px) {
          font-size: 14px;
          width: 20px;
          height: 20px;
          margin: 3px 8px 3px 0;
        }
        &.hidden {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }

  .raw {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    padding-left: 35px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-shadow: 0 0 5px #3c0253, 0 0 15px #231729;
    width: calc(100% - 10px);
    min-height: 40px;
    .painting-description {
      padding: 0;
    }
    @media (max-width: 900px) {
      min-height: 35px;
      padding-left: 15px;
    }
    @media (max-width: 880px) {
      min-height: 35px;
      padding-left: 15px;
    }
    @media (max-width: 780px) {
      min-height: 30px;
      padding-left: 20px;
    }
    @media (max-width: 650px) {
      padding-left: 5px;
      min-height: 20px;
    }
    @media (max-width: 549px) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.word-container {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 20);
  flex-grow: 1;
  height: 40px;
  user-select: none;
  background-color: rgba(64, 64, 112, 1);
  border: solid 1px #262647;
  box-shadow: 1px 1px 6px #3a3a69;
  transition: box-shadow 0.3s ease-in;
  cursor: grab;
  &:hover {
    box-shadow: 1px 1px 3px #111120;
  }
}

.canvas-item {
  opacity: 1;
  height: 40px;
  cursor: grab;
  z-index: 100;
  transition: opacity 0.4s ease-in;
  @media screen and (max-width: 880px) {
    height: 35px;
  }
  @media screen and (max-width: 780px) {
    height: 30px;
  }
  @media screen and (max-width: 650px) {
    height: 25px;
  }
  &.correct {
    box-shadow: -2px 15px 8px -10px #00ff0090;
  }
  &.error {
    box-shadow: -2px 15px 8px -10px rgba(242, 8, 8, 1);
  }
  &:not(:first-child) {
    margin-left: -2px;
  }
  &:last-child {
    margin-right: -6px;
  }
  &.dragged {
    opacity: 0.2;
  }
}
