.game {
  &--wrapper {
    position: relative;
    margin: 0 auto;
    right: 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-width: 1000px;
    width: calc(100vw - 60px);
  }
  &--puzzle-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    @media screen and (max-width: 549px) {
      &:after {
        position: relative;
        content: 'Please, rotate the screen. Puzzles available on the screen width from 550px and more.';
        width: 90%;
        height: 180px;
        font-size: 28px;
        text-align: center;
        text-shadow: 0 0 10px black;
        color: #c7a2ec;
      }
      & > div {
        display: none;
      }
    }
  }
}

i.material-icons {
  font-size: 18px;
  color: white;
  background-color: transparent;
  position: relative;
  border-radius: 50%;
  padding: 2px;
  -moz-user-select: none;
  user-select: none;
  transition: background 0.3s ease-in;
  transform: rotate(0deg);
}

.tooltiptext {
  visibility: hidden;
  background-color: #7c42a3;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: 130%;
  z-index: 200;
  transition: 0.3s ease-in-out 0.5s;
  &::after {
    content: ' ';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #7c42a3 transparent;
  }
}
