$tablet-width: 768px;
$mobile-big-width: 414px;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 1.4;
  min-width: 190px;
  min-height: 70px;
  margin: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
  &:hover {
    box-shadow: 0 0 0 1px #03011852, 0 2px 6px 0 #1232414d;
  }
  &.active-card {
    border: 1px solid rgb(0, 173, 159);
    background-color: rgba(0, 173, 159, .15);
  }
  .audio-icon {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 34px;
    height: 34px;
    background-image: url(../../../../assets/audio.svg);
    background-repeat: no-repeat;
  }
  .word, .translation {
    color: #0e1e25;
    font-size: 22px;
    padding: 0px 5px;
    margin: 0;
  }
  .transcription {
    color: rgba(14, 30, 37, .7);
    font-size: 18px;
    padding: 0px 5px;
    margin: 0;
  }
  @media (max-width: $tablet-width) {
    min-width: 28%;
  }
  
  @media (max-width: $mobile-big-width) {
    min-width: 45%;
    max-width: 49%;
    margin: 5px;
  }
}