$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  padding-left: 40px;
  font-size: 22px;
  line-height: 1.4;
  min-width: 190px;
  min-height: 70px;
  margin: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 5px #20a0eb, inset 0 0 3px 2px #8d84f7;
  }
  &.active-card {
    border: 1px solid rgb(0, 173, 159);
    background-color: #ccddffd0;
  }
  .audio-icon {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 34px;
    height: 34px;
    background-image: url(../../../../assets/audio.svg);
    background-repeat: no-repeat;
  }
  .word,
  .translation {
    color: #0e1e25;
    font-size: 22px;
    padding: 0px 5px;
    margin: 0;
  }
  .transcription {
    color: rgba(14, 30, 37, 0.7);
    font-size: 18px;
    padding: 0px 5px;
    margin: 0;
  }
  @media (max-width: $tablet-width) {
    min-width: 40%;
    padding: 5px 0 0 30px;
    .audio-icon {
      left: 2px;
    }
  }

  @media (max-width: $mobile-big-width) {
    min-width: 45%;
    max-width: 49%;
    margin: 5px;
  }
  @media (max-width: $mobile-big-width) {
    min-width: 80%;
    max-width: 89%;
    margin: 5px;
  }
}

.spiner {
  width: 100px;
  height: 100px;
  background: url(../../../../assets/Spin-0.7s-144px.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
